*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Avenir Next', Avenir, Helvetica, Arial, sans-serif;
	color: #393a3e;
	background: lavender;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
}

a:hover,
a:focus {
	color: #1d48f3;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.logo{
	position: absolute;
	top: 15px;
	left: 10px;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0px auto;
	fill: currentColor;
	cursor: pointer;
}

.view {
	position: relative;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	height: 100vh;
	margin: 0 0 0 215px;
}

.content {
	z-index: 1;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 25px 50px;
	background-size: auto 100%;
}

.deco__text {
	font-size: 0.8em;
	line-height: 1;
	margin: 0;
	color: #bcb8e8;
}

/* Header */
.portfolio-header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
	text-align: right;
}

.portfolio-header__info {
	font-family: 'Playfair Display', serif;
	font-size: 2.5em;
	font-weight: 700;
	font-style: italic;
	position: relative;
	max-width: 400px;
	margin: auto 10vw 0 0;
	text-align: right;
}

.portfolio-header__info::after {
	content: '01';
	font-family: 'Avenir Next', Avenir, Helvetica, Arial, sans-serif;
	font-size: 8em;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	z-index: -1;
	top: 0%;
	right: 52.5%;
	letter-spacing: -0.05em;
	color: #fff;
}

.portfolio-header__deco {
	font-size: 2em;
	line-height: 1;
	padding: 1em 0;
	color: #1d48f3;

	writing-mode: vertical-rl;
}

.portfolio-header__title {
	font-size: 8.5em;
	line-height: 0.8;
	margin: 0 -7px 0;
	padding: 0;
}

.portfolio-header__tagline {
	width: 50%;
	margin: 0 0 0 auto;
	padding: 0;
}

/* Top Navigation Style */
.portfolio-links {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	white-space: nowrap;
}

.portfolio-icon {
	display: block;
}

.portfolio-icon:last-child {
	margin: 0 0 0 2em;
}

.btn {
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--back {
	font-size: 1.5em;
	position: absolute;
	z-index: 1002;
	top: 1em;
	right: 1em;
	opacity: 0;
	color: #1d48f3;
}

.btn--menu {
	font-size: 0.85em;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	margin: 10px 0 0 6px;
}

.btn--menu-active .icon--menu,
.icon--cross {
	display: none;
}

.btn--menu-active .icon--cross {
	display: block;
}

/* Content */
.tabscontent {
	pointer-events: none;
}

.tabscontent__item {
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	opacity: 0;
}

.tabscontent__item--current,
.tabscontent__item--current ~ .btn--back {
	pointer-events: auto;
}

.poster {
	position: relative;
	height: 80vh;
	margin: 10vh auto;
	padding: 0 50px;
	pointer-events: none;
}

.poster__img {
	position: relative;
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.poster__caption {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0 50px;
}

.poster__box {
	position: absolute;
	top: -50px;
	left: 0;
	width: 50%;
	height: 40%;
	border: 10px solid;
}

.poster__number {
	font-size: 5em;
	font-weight: bold;
	line-height: 0.7;
	position: absolute;
	bottom: 0;
	left: calc(100% - 50px + 5px);
	color: lavender;
}

.poster__title {
	font-size: 6em;
	line-height: 0.7;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 0 -0.25em 0.15em;
	text-indent: -0.75em;
}

.poster__deco {
	font-size: 2em;
	line-height: 1;
	margin: 0 -1.25em 0 auto;
	color: #1d48f3;

	writing-mode: vertical-rl;
}

.column {
	width: 30vw;
}

.column__title {
	color: #ff764b;
}

.column__text {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	color: #fff4d7;
}

.main {
	color: #fc0;
	background: #2a3137;
}

.main a {
	color: #fff;
}

.main a:hover,
.main a:focus,
.main .btn--menu:hover {
	color: #fc0;
}

.main .view {
	margin: 0;
	padding: 8vw 5vw calc(10vw + 1em);
}

.main .content {
	padding: 0;
}

.main .portfolio-header {
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
	height: calc(100%);
	text-align: left;
	background-color:rgba(26,51	,69,0.6); 
}

.main .portfolio-header__title {
	font-family: 'Poppins', sans-serif;
	font-size: 7em;
	line-height: 0.6;
	margin: auto 0 0 -40px;
	padding: 0.2em 0 0 0;
	letter-spacing: 3px;
}

@media only screen and (max-width:700px){
	.main .portfolio-header__title {
		line-height: 1;
	}
}

.main .portfolio-header__tagline {
	font-size: 1.5em;
	margin: 0.25em 0 -35px -0.3em;
}

.main .btn--menu {
	font-size: 1em;
	top: auto;
	bottom: 40px;
	left: 50%;
	display: block;
	margin: 0 -0.75em 1em;
	color: #fbf9fa;
	padding: 0!important;
}

.main .content {
	background: url(../img/home.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.main .portfolio-links {
	align-self: flex-end;
	margin: 1.5em 1.5em auto;
}

.main .demos {
	margin: 1em 0 0;
}

.main .demo:first-child {
	margin: 0;
}

.main .demo.demo--current {
	color: #2a3137;
}

.main .demo--current::before {
	background: #fc0;
}

.main .btn--back {
	color: #6c7d8c;
	top: 0.5em;
	right: 0.5em;
}

.main .btn--back .icon {
	transform: rotate(-90deg);
	color: #fc0;
}

.main .btn--back .icon{
	position: absolute;
    bottom: -89vh;
    left: calc(-50vw + 15px);
    /* bottom: 0px; */
    right: auto;
    text-align: center;

}
.main .portfolio-header__deco {
	font-size: 2.25em;
	position: absolute;
	right: -0.575em;
	bottom: 2em;
	color: #fc0;
}

.main .portfolio-header::after {
	content: '';
	font-size: 5em;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: -40px;
	color: #fff;
}

.box {
	position: relative;
	width: 80vw;
	min-width: 300px;
	height: calc(90vh - 120px);
	margin-top: -20px;
	background-size: cover;
	background-position: 50% 0;
	background: #111;
}

.box__title {
	font-size: 4em;
	position: absolute;
	top: 25px;
	left: -1em;
	margin: 0;
	color: #fff;
}

.tabscontent__item:first-child .box {
}

.tabscontent__item:nth-child(2) .box {
}

.tabscontent__item:nth-child(3) .box {
}


.download-resume{
	position: absolute;
	right: 10px;
	top:0px;
	min-width: 100px;
	/*margin-top: 50px;*/
	margin:25px auto;
	color:#fc0;
	font-size: 14px;
	padding:10px 20px;
	border:1px dotted #fc0!important;
}

.download-resume:hover, .download-resume:visited{
	color: #111;
	background-color: #fc0;
	border: 1px solid #fff;
	transition-duration: 0.2s;
}



.footer-love {
  color: white;
  font-size: 16px;
  display: block;
  position: absolute;
  width: 90%;
  left: 50%;
  bottom: 0px;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.footer-love .fa {
  color: #E90606;
  margin: 0 3px;
  font-size: 15px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}


.portfolio-profile-desc{
	color: white;
	font-size: 16px;
	display: block;
	position: absolute;
	width: 80%;
	left: 50%;
	top: 50%;
	right: auto;
	transform: translateX(-50%) translateY(-50%);
  	text-align: left;
  	/*padding: 5em;*/
}

.portfolio-tagline{
	font-size: 3em;	
	color: #2a3137;
	line-height: 1.15;
	font-weight: 600;
	letter-spacing: 1.5px;
	margin-top:10px;
	margin-bottom: 10px;
	/*width: */
}
.portfolio-tagline-color{
	background-color: #fc0;
}
.portfolio-content{
	margin-left: 2px;	
	font-size: 1.2em;
	text-align: justify;
}

.about__content{
	display: block;
	position: absolute;
	width: 90%;
	left: 50%;
	top: 50%;
	right: auto;
	margin-top: 75px;
	transform: translateX(-50%) translateY(-50%);
}

.about__content .about-text{
	color:white;
	font-size: 20px;
	text-align: justify;
}


.about__content .about-imgs {
	padding:10px;
}

.about__content .about-imgs .fa{
	display: block;
    color: white;
    padding: 10px 20px;
    margin-top: 5px;
}
.about__content .about-imgs .img-text{

}
@media screen and (max-width: 40em) {
	.view {
		overflow: auto;
		height: auto;
		min-height: calc(100vh - 69px);
		margin: 0;
	}
	.main .view {
		height: calc(100vh - 69px);
	}
	.content {
		flex-direction: column;
		padding: 10px;
	}
	.portfolio-header__info {
		font-size: 1.15em;
	}
	.deco__text,
	.demos__text {
		display: none;
	}
	.portfolio-links {
		margin: 0 0 1em;
	}
	.portfolio-icon {
		font-size: 1em;
	}
	.portfolio-header__deco {
		font-size: 1.25em;
	}
	.portfolio-header__title {
		font-size: 5.5em;
		margin: 0 -4px;
	}
	.portfolio-header__tagline {
		width: auto;
	}
	.demos {
		align-items: flex-start;
		margin-top: 1em;
	}
	.portfolio-header__info::after {
		font-size: 7em;
	}
	.poster__box {
		top: -20px;
		left: 30px;
		width: 30%;
		height: 30%;
		border: 7px solid;
	}
	.poster__deco {
		font-size: 1em;
	}
	.poster__number {
		font-size: 2em;
		left: calc(100% - 90px);
	}
	.poster__title {
		font-size: 3em;
	}
	.btn--back {
		top: 0;
		right: 0;
	}
	.btn--menu {
		display: block;
	}
	.column__title {
		margin: 1em 0 0;
	}
	.main .portfolio-header__title {
		font-size: 2em;
		margin: 0;
	}
	.main .portfolio-header__tagline {
		font-size: 1em;
		margin-left: 0;
		margin-bottom: 0;

	}
	.main .portfolio-header::after {
		font-size: 3em;
		left: 10px;
	}
	.main .portfolio-header__deco {
		font-size: 0.85em;
	}
	.box__title {
		left:0;
		font-size: 3em;
	}
	.icon{
		margin-bottom: 0;
	}
	.contact-text{
		letter-spacing: 1px;
		font-size: 14px;
	}
	#contact {
		margin-top:35px;
	}
	.main .btn--menu{
		bottom:0;
	}

	.download-resume{
		color: #111;
		background-color: #fc0;
		border: 1px solid #fff;
	}

	.download-resume:hover, .download-resume:visited{
		color:#111;
		border:1px dotted #fc0!important;
	}

	.about__content .about-text{
		margin-top: 20px;
		font-size: 14px;
	}
	.about__content .about-imgs .fa{
		font-size: 14px;
	    padding: 5px 10px;
	    margin-top: 5px;
	}
}
